---
layout: fullscreen
title: MyStreet SFCTA
section: "&nbsp;MAP&nbsp;"
css:
  - '/main.css'
---
#container
  #panel
    #preheader
      hr
      h3.apptitle MyStreet SF
      hr

    .information-panel(v-cloak)
        br
        h2 ${ infoTitle }
        p  ${ infoDetails }
        .details-link(v-html="infoUrl")

    .bottom-panel(v-cloak)
      .pickers
        h5 NARROW BY TAGS:

        .ui.multiple.dropdown
          input(type="hidden" name="filters")
          i.filter.icon
          span.text Select some tags:
          .menu
            .ui.icon.search.input
              i.search.icon
              input(type="text" placeholder="Search tags...")
            .header
            .scrolling.menu
              .item(data-value="1")
                .ui.red.empty.circular.label
                | Bicycle Safety
              .item(data-value="4")
                .ui.red.empty.circular.label
                | Capital Projects
              .item(data-value="6")
                .ui.black.empty.circular.label
                | Pedestrian Improvements
              .item(data-value="5")
                .ui.blue.empty.circular.label
                | Plans and Studies
              .item(data-value="2")
                .ui.blue.empty.circular.label
                | Traffic Calming
              .item(data-value="3")
                .ui.black.empty.circular.label
                | Transit

        h5 NARROW BY DISTRICT:

        .ui.selection.dropdown
          .text: div(v-cloak) Citywide
          i.dropdown.icon
          .menu
            .item(v-on:click="clickedDistrict(0)") Citywide
            .item(v-on:click="clickedDistrict(1)") District 1
            .item(v-on:click="clickedDistrict(2)") District 2
            .item(v-on:click="clickedDistrict(3)") District 3
            .item(v-on:click="clickedDistrict(4)") District 4
            .item(v-on:click="clickedDistrict(5)") District 5
            .item(v-on:click="clickedDistrict(6)") District 6
            .item(v-on:click="clickedDistrict(7)") District 7
            .item(v-on:click="clickedDistrict(8)") District 8
            .item(v-on:click="clickedDistrict(9)") District 9
            .item(v-on:click="clickedDistrict(10)") District 10
            .item(v-on:click="clickedDistrict(11)") District 11

        h5 NARROW BY PROJECT TYPE:

        button#btn-transit.small.ui.grey.button(
               v-on:click="clickedFilter"
               v-bind:class="{ active: filterTransit, yellow: filterTransit}"
        ) Transit

        button#btn-streets.small.ui.grey.button(
               v-on:click="clickedFilter"
               v-bind:class="{ active: filterStreets, yellow: filterStreets}"
        ) Streets

        button#btn-areas.small.ui.grey.button(
               v-on:click="clickedFilter"
               v-bind:class="{ active: filterAreas, yellow: filterAreas}"
        ) Plans and Studies

        br
        br
        br

      // logo panel
      hr(style="margin: 0px 0px;")

      table#table-logo
        tr
          td.td-logo: h4.agency: b
            a(target="_blank"
              href="http://www.sfcta.org/"
            ) SAN FRANCISCO COUNTY TRANSPORTATION AUTHORITY
          td.td-logo
            a.agency-link(target="_blank" href="http://www.sfcta.org/")
              img.img-logo(src="/images/sfcta-logo-144.png" width="60")

  #search-panel
    #search-term-box.ui.fluid.icon.inverted.input
      input(v-model="terms"
            tabindex="1"
            type="text"
            v-on:keyup.esc="clearSearchBox"
            placeholder="Search by project name, topic...")
      i.search.icon(v-if="!terms")
      i.remove.link.icon(v-if="terms" v-on:click="clearSearchBox")
    #search-results(v-cloak v-if="results.length + tagresults.length")
      .ui.relaxed.list
        .search-category(v-if="tagresults.length")
          p TAGS
        #search-tags.tiny.basic.pink.ui.button(
          v-for="tag in tagresults"
          v-on:click='clickedSearchTag(tag)'
        ) ${ tag }
        .search-category(v-if="results.length")
          p PROJECTS
        template(v-for="result in results")
          div(v-on:click="clickedSearch(result.id)"
              v-on:mouseover="hoverSearch(result.id)")
            .search-item
              hr
              h4 ${ result.name }
              p Project ID: ${ result.id }
  #sfmap

script(src="/lib/main.bundle.js")
